<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>InaYoga !!</h1>
    </header>
    {{{body}}}
    <footer>
        <p>© 2025 InaYoga</p>
    </footer>
</body>
</html>