<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Tienda Coderhouse</h1>
    </header>
    {{{body}}} <!-- Aquí se inserta el contenido dinámico -->
    <footer>
        <p>© 2025 Coderhouse</p>
    </footer>
</body>
</html>